<aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
                <h2>History of the <i>Messiah</i> Sing</h2>
                <div style="text-align: left; width: 80%; border: 3px; padding: 4px">
                <p class="text-faded">
                    The Annual Open Sing of Handel's <i>Messiah</i> has become a favorite Chapel Hill Christmas tradition.
                    The event was started in 1966 by five newcomers to Chapel
                    Hill: Fred Brooks and his wife Nancy, Mary Frances Boyce,
                    Stan Mattson, and Caryl Thorn.
                </p>
                <p class="text-faded">
                    As Christmas 1966 neared, Stan Mattson suggested hosting a community event to air a recording of the Messiah.
                    Nancy Brooks countered by proposing a community sing with a conductor and organist.
                    This came to pass with Wesley Foundation as the venue and Donald Plott from Charlotte as conductor.
                    The event was so successful that it has continued ever
                    since.
                </p>
                <p class="text-faded">
                    In the early years, the challenging job of organist was accomplished by Evelyn Culton and Nancy Nelson.
                    After a few years the idea arose to accompany the entire piece with an orchestra.
                    Over time Mary Frances Boyce has organized the orchestra and Florence Peacock has organized the soloists and invited a guest conductor. <br>
                    The Open Sing begins with a speaker, who talks about the music, text, composer, and/or history.
                    Speakers have included pastors, graduate students, professors, and musicians.
                    The orchestra begins to play and the audience members become performers singing the choruses.
                    A delightful variant on Handel's intended alternation between chorus and soloist was our introduction of having each section of the choir sing one of the solos.
                    Most of the oratorio is performed. At least once, the entire work has been sung from start to finish!
                </p>
                <p class="text-faded">
                    The event has grown since its inception, evolving into a vibrant community performance and a beloved Chapel Hill Christmas tradition.
                </p>
                </div>
              <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
          </div>
      </div>
  </aside>
