<aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>History of the <i>Messiah</i> Sing</h2>
                <p text faded>The Annual Open Sing of Handel's <i>Messiah</i> has become a favorite Chapel Hill Christmas tradition. The event was started in 1966 by five newcomers to Chapel Hill: Fred Brooks and his wife Nancy, Mary Frances Boyce, Stan Mattson, and Caryl Thorn. After thinking about a community performance, Nancy Brooks proposed a community sing to include a conductor and organist. In the early years, accompaniment was provided by</p>
              <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
          </div>
      </div>
  </aside>
