<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hosted by the <a href="https://biblechurch.org">Chapel Hill Bible Church</a></h2>
                <a href="https://biblechurch.churchcenter.com/calendar/event/158600595" class="btn btn-default btn-xl">CHBC Event Page</a>
                <hr class="light">
                <h2>Sponsored by FOCUS: UNC InterVarsity Graduate Christian Fellowship</h2>
                <hr class="light">
                <p class="text-faded">
                    Formerly hosted by:<br>
                    Holy Trinity Lutheran Church<br>
                    Newman Catholic Student Center Parish
                </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> --!>
            </div>
        </div>
    </div>
</section>
