<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hosted by the Chapel Hill Bible Church</h2>
                <h2>Sponsored by FOCUS: UNC InterVarsity Graduate Christian Fellowship</h2>
                <hr class="light">
                <p class="text-faded">Formerly hosted by:</p>
                <p class="text-faded">Holy Trinity Lutheran Church</p>
                <p class="text-faded">Newman Catholic Student Center Parish</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> --!>
            </div>
        </div>
    </div>
</section>
