<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Your Favorite Source of Free Bootstrap Themes</h1> -->
            <h1>Handel's <i>Messiah</i></h1>
            <h2>The 55th Annual Chapel Hill Open Sing</h2>
            <hr>
            <p>In this beloved Chapel Hill tradition, everyone participates! Guest conductor Martin Stam will direct a small community orchestra, a few volunteer soloists, and you – the audience – as the choir! Singers of all experience are welcome!</p>
            <p>Scores will be provided (but please bring your own if you have one).</p> 
            <p>No rehearsal is required, and there is no admission fee.</p>
            <!-- <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
