<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Your Favorite Source of Free Bootstrap Themes</h1> -->
            <h1>Handel's <i>Messiah</i></h1>
            <h2>The 57th Annual Chapel Hill Open Sing</h2>
            <hr>
            <p>In this beloved Chapel Hill tradition, everyone participates! <!-- Guest conductor Martin Stam --> A guest conductor will direct a community orchestra, vocal soloists, and you – the audience – as the choir! Singers of all experience are welcome!</p>
            <h4>Saturday, December 13, 2025 at 7:00 PM at the Chapel Hill Bible Church (260 Erwin Road)</h4>
            <br>
            <p>
                The event is free. No rehearsal is required.
                <br>Scores will be provided, or bring your own if you have one.
                <br>Or download the public domain 1912 Schirmer vocal score below.
            </p>
            <a href="score/IMSLP11870-Handel_Messiah_Schirmer_1912_compressed.pdf" class="btn btn-primary btn-xl" download>Download Vocal Score</a>
            <!-- <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
